*{
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
ul#menu {
    display: flex;
    list-style: none;
    font-size: 23px;
}
div#head1 {
    font-size: 18px;
    color: #6e5b5bd1;
}
li {
    padding: 5px 25px;
}
li.list1 {
    background-color: #6fc0d9;
}
button#buton {
    width: 36%;
    padding: 12px;
    background-color: #6fc0d9;
    border-color: #6fc0d9;
    border-radius: 8px;
    font-size: 17px;
    color: white;
}
div#sec-div {
    width: 1200px;
    margin: 0px 191px;
    display: inline-grid;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 5%;
}
h1#sec-h1-2 {
    font-size: 55px;
    padding: 0px 33px;
}
h1#sec-h1 {
    font-size: 55px;
}
p#sec-p {
    font-size: 21px;
}
p#sec-p-2 {
    font-size: 21px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
div#but-div {
    display: flex;
    justify-content: center;
}
section#section1 {
    background-color: #b6c5bd9c;
}
div#sec2-div {
    padding: 0px 84px;
    margin: 0px;
    display: flex;
    padding-bottom: 45px;
}
section#section2 {
    background-color: #b6c5bd9c;
}
.box {
    margin: 0px 24px;
    background-color: white;
    padding: 31px;
}
p.box-p {
    padding: 16px 0px;
}
